# ─── Servidor ───
SERVER_PORT=8080

# ─── Base de Datos PostgreSQL ───
DB_USER=user_s26
DB_HOST=localhost
DB_NAME=s26_06
DB_PASSWORD=pass_s26
DB_PORT=5432

# ─── JWT ───
JWT_SECRET=change-this-to-a-secure-random-string-in-production
JWT_EXPIRES_IN=7d
